# "Let's start by importing the required Python packages."

In [95]:
# importing packages import pandas as pd

import pandas as pd

# Data gathering for operations

In [96]:
# Read data from CSV file
dataset = pd.read_csv("india.csv")

# Data visualization

In [97]:
#Provide a glimpse of the starting records in the DataFrame.
print("Data from CSV file:")
dataset.head()

Data from CSV file:

,State & District,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,Male_SC,Female_SC,...,Secondary_Education,Higher_Education,Graduate_Education,Other_Education,Literate_Education,Illiterate_Education,Total_Education,Age_Group_0_29,Age_Group_30_49,Age_Group_50
0,"district_code:1, state_name:JAMMU AND KASHMIR,...",870354,474190,396164,439654,282823,156831,1048,1046,2,...,74948,39709,21751,6402,405015,289765,694780,600759,178435,89679
1,"district_code:2, state_name:JAMMU AND KASHMIR,...",753745,398041,355704,335649,207741,127908,368,343,25,...,66459,41367,27950,6857,374972,342646,717618,503223,160933,88978
2,"district_code:3, state_name:JAMMU AND KASHMIR,...",133487,78971,54516,93770,62834,30936,488,444,44,...,16265,8923,6197,575,75493,32637,108130,70703,41515,21019
3,"district_code:4, state_name:JAMMU AND KASHMIR,...",140802,77785,63017,86236,56301,29935,18,12,6,...,16938,9826,3077,408,82938,39854,122792,87532,35561,17488
4,"district_code:5, state_name:JAMMU AND KASHMIR,...",476835,251899,224936,261724,163333,98391,556,406,150,...,46062,29517,13962,1884,288430,164044,452474,304979,109818,61334

In [98]:
# Displaying basic information about the DataFrame
print("Basic Information:")
dataset.info()     #Output the summary information of the DataFrame using the df.info() function.

Basic Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640 entries, 0 to 639
Data columns (total 51 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   State & District                  640 non-null    object
 1   Population                        640 non-null    int64
 2   Male                              640 non-null    int64
 3   Female                            640 non-null    int64
 4   Literate                          640 non-null    int64
 5   Male_Literate                     640 non-null    int64
 6   Female_Literate                   640 non-null    int64
 7   SC                                640 non-null    int64
 8   Male_SC                           640 non-null    int64
 9   Female_SC                         640 non-null    int64
 10  ST                                640 non-null    int64
 11  Male_ST                           640 non-null    int64
 12  Female_ST                         640 non-null    int64
 13  Workers                           640 non-null    int64
 14  Male_Workers                      640 non-null    int64
 15  Female_Workers                    640 non-null    int64
 16  Main_Workers                      640 non-null    int64
 17  Marginal_Workers                  640 non-null    int64
 18  Non_Workers                       640 non-null    int64
 19  Cultivator_Workers                640 non-null    int64
 20  Agricultural_Workers              640 non-null    int64
 21  Household_Workers                 640 non-null    int64
 22  Other_Workers                     640 non-null    int64
 23  Hindus                            640 non-null    int64
 24  Muslims                           640 non-null    int64
 25  Christians                        640 non-null    int64
 26  Sikhs                             640 non-null    int64
 27  Buddhists                         640 non-null    int64
 28  Jains                             640 non-null    int64
 29  Others_Religions                  640 non-null    int64
 30  Religion_Not_Stated               640 non-null    int64
 31  LPG_or_PNG_Households             640 non-null    int64
 32  Housholds_with_Electric_Lighting  640 non-null    int64
 33  Households_with_Internet          640 non-null    int64
 34  Households_with_Computer          640 non-null    int64
 35  Rural_Households                  640 non-null    int64
 36  Urban_Households                  640 non-null    int64
 37  Households                        640 non-null    int64
 38  Below_Primary_Education           640 non-null    int64
 39  Primary_Education                 640 non-null    int64
 40  Middle_Education                  640 non-null    int64
 41  Secondary_Education               640 non-null    int64
 42  Higher_Education                  640 non-null    int64
 43  Graduate_Education                640 non-null    int64
 44  Other_Education                   640 non-null    int64
 45  Literate_Education                640 non-null    int64
 46  Illiterate_Education              640 non-null    int64
 47  Total_Education                   640 non-null    int64
 48  Age_Group_0_29                    640 non-null    int64
 49  Age_Group_30_49                   640 non-null    int64
 50  Age_Group_50                      640 non-null    int64
dtypes: int64(50), object(1)
memory usage: 255.1+ KB

In [99]:
# Displaying summary statistics of numeric columns
print("Summary Statistics is :")
dataset.describe()   #Generate a statistical summary of the DataFrame using the `df.describe()` function.

Summary Statistics is :

,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,Male_SC,Female_SC,ST,...,Secondary_Education,Higher_Education,Graduate_Education,Other_Education,Literate_Education,Illiterate_Education,Total_Education,Age_Group_0_29,Age_Group_30_49,Age_Group_50
count,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,...,6.400000e+02,6.400000e+02,6.400000e+02,640.00000,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02
mean,1.891961e+06,9.738598e+05,9.181011e+05,1.193186e+06,6.793182e+05,5.138675e+05,3.146537e+05,1.617739e+05,1.528798e+05,1.633527e+05,...,2.051046e+05,1.241736e+05,1.090132e+05,16096.61250,1.275159e+06,5.786784e+05,1.853838e+06,1.102826e+06,4.820189e+05,3.001005e+05
std,1.544380e+06,8.007785e+05,7.449864e+05,1.068583e+06,5.924144e+05,4.801816e+05,3.129818e+05,1.611216e+05,1.520336e+05,2.503501e+05,...,2.164778e+05,1.304154e+05,1.502260e+05,21425.82129,1.133411e+06,4.887864e+05,1.511039e+06,8.887434e+05,4.183230e+05,2.549556e+05
min,8.004000e+03,4.414000e+03,3.590000e+03,4.436000e+03,2.614000e+03,1.822000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,8.090000e+02,6.560000e+02,3.560000e+02,15.00000,4.926000e+03,2.185000e+03,7.111000e+03,5.113000e+03,2.088000e+03,7.860000e+02
25%,8.178610e+05,4.171682e+05,4.017458e+05,4.825982e+05,2.764365e+05,2.008920e+05,8.320850e+04,4.230700e+04,4.267175e+04,7.312000e+03,...,7.078575e+04,4.234700e+04,2.799200e+04,3850.75000,5.032555e+05,2.142040e+05,7.956865e+05,4.786540e+05,2.101965e+05,1.193285e+05
50%,1.557367e+06,7.986815e+05,7.589200e+05,9.573465e+05,5.483525e+05,4.038590e+05,2.460160e+05,1.255485e+05,1.178550e+05,6.109500e+04,...,1.523325e+05,8.998700e+04,6.624350e+04,9514.00000,1.017248e+06,4.529330e+05,1.518162e+06,8.896820e+05,3.905085e+05,2.421020e+05
75%,2.583551e+06,1.338604e+06,1.264277e+06,1.602260e+06,9.188582e+05,6.641550e+05,4.477078e+05,2.284602e+05,2.140502e+05,2.195518e+05,...,2.629160e+05,1.583555e+05,1.299488e+05,19951.75000,1.718576e+06,7.833772e+05,2.556385e+06,1.491204e+06,6.525142e+05,4.045875e+05
max,1.106015e+07,5.865078e+06,5.195070e+06,8.227161e+06,4.591396e+06,3.635765e+06,2.464032e+06,1.266504e+06,1.197528e+06,1.580850e+06,...,2.018079e+06,1.196965e+06,1.733274e+06,198399.00000,8.886074e+06,3.031841e+06,1.019012e+07,6.184519e+06,3.241888e+06,1.921143e+06

# Data checking

In [100]:
# Checking for missing values
print("Missing Values:")
dataset.isnull().sum()

Missing Values:

State & District                    0
Population                          0
Male                                0
Female                              0
Literate                            0
Male_Literate                       0
Female_Literate                     0
SC                                  0
Male_SC                             0
Female_SC                           0
ST                                  0
Male_ST                             0
Female_ST                           0
Workers                             0
Male_Workers                        0
Female_Workers                      0
Main_Workers                        0
Marginal_Workers                    0
Non_Workers                         0
Cultivator_Workers                  0
Agricultural_Workers                0
Household_Workers                   0
Other_Workers                       0
Hindus                              0
Muslims                             0
Christians                          0
Sikhs                               0
Buddhists                           0
Jains                               0
Others_Religions                    0
Religion_Not_Stated                 0
LPG_or_PNG_Households               0
Housholds_with_Electric_Lighting    0
Households_with_Internet            0
Households_with_Computer            0
Rural_Households                    0
Urban_Households                    0
Households                          0
Below_Primary_Education             0
Primary_Education                   0
Middle_Education                    0
Secondary_Education                 0
Higher_Education                    0
Graduate_Education                  0
Other_Education                     0
Literate_Education                  0
Illiterate_Education                0
Total_Education                     0
Age_Group_0_29                      0
Age_Group_30_49                     0
Age_Group_50                        0
dtype: int64

# Data processing

In [92]:
# Preprocess data
def preprocess_data(df):
    # Split combined data in the 'state & district' column
    dataset[['district_code','state_name', 'district_name']] = dataset['State & District'].str.split(n=2, expand=True)
    dataset.drop(columns=['State & District'], inplace=True)
    
    return df

# Preprocess the data
preprocessed_set= preprocess_data(dataset.copy())

# Displaying preprocessed data
print("Preprocessed Data is:")
prinpreprocessed_set.head())

Preprocessed Data is:
                                    State & District  Population    Male
0  district_code:1, state_name:JAMMU AND KASHMIR,...      870354  474190  \
1  district_code:2, state_name:JAMMU AND KASHMIR,...      753745  398041
2  district_code:3, state_name:JAMMU AND KASHMIR,...      133487   78971
3  district_code:4, state_name:JAMMU AND KASHMIR,...      140802   77785
4  district_code:5, state_name:JAMMU AND KASHMIR,...      476835  251899

   Female  Literate  Male_Literate  Female_Literate    SC  Male_SC  Female_SC
0  396164    439654         282823           156831  1048     1046          2  \
1  355704    335649         207741           127908   368      343         25
2   54516     93770          62834            30936   488      444         44
3   63017     86236          56301            29935    18       12          6
4  224936    261724         163333            98391   556      406        150

   ...  Secondary_Education  Higher_Education  Graduate_Education
0  ...                74948             39709               21751  \
1  ...                66459             41367               27950
2  ...                16265              8923                6197
3  ...                16938              9826                3077
4  ...                46062             29517               13962

   Other_Education  Literate_Education  Illiterate_Education  Total_Education
0             6402              405015                289765           694780  \
1             6857              374972                342646           717618
2              575               75493                 32637           108130
3              408               82938                 39854           122792
4             1884              288430                164044           452474

   Age_Group_0_29  Age_Group_30_49  Age_Group_50
0          600759           178435         89679
1          503223           160933         88978
2           70703            41515         21019
3           87532            35561         17488
4          304979           109818         61334

[5 rows x 51 columns]

# "Managing or Addressing Missing Values"

In [93]:
# Handle missing values
    
dataset['Age_Group_50'].fillna(df['Age_Group_50'].median(), inplace=True)

# Display the DataFrame
print(dataset)

     Population    Male  Female  Literate  Male_Literate  Female_Literate
0        870354  474190  396164    439654         282823           156831  \
1        753745  398041  355704    335649         207741           127908
2        133487   78971   54516     93770          62834            30936
3        140802   77785   63017     86236          56301            29935
4        476835  251899  224936    261724         163333            98391
..          ...     ...     ...       ...            ...              ...
635       41816   19143   22673     36470          16610            19860
636      200222   97809  102413    154916          79903            75013
637       36842   20727   16115     25332          15397             9935
638      105597   54861   50736     78683          43186            35497
639      238142  127283  110859    190266         105794            84472

        SC  Male_SC  Female_SC      ST  ...  Other_Education
0     1048     1046          2   70352  ...             6402  \
1      368      343         25   23912  ...             6857
2      488      444         44   95857  ...              575
3       18       12          6  122336  ...              408
4      556      406        150  176101  ...             1884
..     ...      ...        ...     ...  ...              ...
635    144       77         67       0  ...              978
636  35348    17206      18142       0  ...             4877
637      0        0          0   23681  ...              364
638      0        0          0     758  ...              809
639      0        0          0    4091  ...             3077

     Literate_Education  Illiterate_Education  Total_Education
0                405015                289765           694780  \
1                374972                342646           717618
2                 75493                 32637           108130
3                 82938                 39854           122792
4                288430                164044           452474
..                  ...                   ...              ...
635               36858                  2993            39851
636              154561                 32717           187278
637               27746                  9781            37527
638               87325                 22422           109747
639              189834                 36289           226123

     Age_Group_0_29  Age_Group_30_49  Age_Group_50       district_code
0            600759           178435         89679    district_code:1,  \
1            503223           160933         88978    district_code:2,
2             70703            41515         21019    district_code:3,
3             87532            35561         17488    district_code:4,
4            304979           109818         61334    district_code:5,
..              ...              ...           ...                 ...
635           19760            12543          9428  district_code:636,
636          102333            60089         37434  district_code:637,
637           18786            12088          5922  district_code:638,
638           57350            30741         17464  district_code:639,
639          128402            76332         33128  district_code:640,

                  state_name
0           state_name:JAMMU  \
1           state_name:JAMMU
2           state_name:JAMMU
3           state_name:JAMMU
4           state_name:JAMMU
..                       ...
635  state_name:PONDICHERRY,
636  state_name:PONDICHERRY,
637       state_name:ANDAMAN
638       state_name:ANDAMAN
639       state_name:ANDAMAN

                                         district_name
0                   AND KASHMIR, district_name:Kupwara
1                    AND KASHMIR, district_name:Badgam
2               AND KASHMIR, district_name:Leh(Ladakh)
3                    AND KASHMIR, district_name:Kargil
4                     AND KASHMIR, district_name:Punch
..                                                 ...
635                                 district_name:Mahe
636                             district_name:Karaikal
637        AND NICOBAR ISLANDS, district_name:Nicobars
638  AND NICOBAR ISLANDS, district_name:North  AND ...
639   AND NICOBAR ISLANDS, district_name:South Andaman

[640 rows x 53 columns]

# Datatype conversion

In [94]:
# Convert data types
dataset['Age_Group_50'] = dataset['Age_Group_50'].astype(int)
print(dataset)

     Population    Male  Female  Literate  Male_Literate  Female_Literate
0        870354  474190  396164    439654         282823           156831  \
1        753745  398041  355704    335649         207741           127908
2        133487   78971   54516     93770          62834            30936
3        140802   77785   63017     86236          56301            29935
4        476835  251899  224936    261724         163333            98391
..          ...     ...     ...       ...            ...              ...
635       41816   19143   22673     36470          16610            19860
636      200222   97809  102413    154916          79903            75013
637       36842   20727   16115     25332          15397             9935
638      105597   54861   50736     78683          43186            35497
639      238142  127283  110859    190266         105794            84472

        SC  Male_SC  Female_SC      ST  ...  Other_Education
0     1048     1046          2   70352  ...             6402  \
1      368      343         25   23912  ...             6857
2      488      444         44   95857  ...              575
3       18       12          6  122336  ...              408
4      556      406        150  176101  ...             1884
..     ...      ...        ...     ...  ...              ...
635    144       77         67       0  ...              978
636  35348    17206      18142       0  ...             4877
637      0        0          0   23681  ...              364
638      0        0          0     758  ...              809
639      0        0          0    4091  ...             3077

     Literate_Education  Illiterate_Education  Total_Education
0                405015                289765           694780  \
1                374972                342646           717618
2                 75493                 32637           108130
3                 82938                 39854           122792
4                288430                164044           452474
..                  ...                   ...              ...
635               36858                  2993            39851
636              154561                 32717           187278
637               27746                  9781            37527
638               87325                 22422           109747
639              189834                 36289           226123

     Age_Group_0_29  Age_Group_30_49  Age_Group_50       district_code
0            600759           178435         89679    district_code:1,  \
1            503223           160933         88978    district_code:2,
2             70703            41515         21019    district_code:3,
3             87532            35561         17488    district_code:4,
4            304979           109818         61334    district_code:5,
..              ...              ...           ...                 ...
635           19760            12543          9428  district_code:636,
636          102333            60089         37434  district_code:637,
637           18786            12088          5922  district_code:638,
638           57350            30741         17464  district_code:639,
639          128402            76332         33128  district_code:640,

                  state_name
0           state_name:JAMMU  \
1           state_name:JAMMU
2           state_name:JAMMU
3           state_name:JAMMU
4           state_name:JAMMU
..                       ...
635  state_name:PONDICHERRY,
636  state_name:PONDICHERRY,
637       state_name:ANDAMAN
638       state_name:ANDAMAN
639       state_name:ANDAMAN

                                         district_name
0                   AND KASHMIR, district_name:Kupwara
1                    AND KASHMIR, district_name:Badgam
2               AND KASHMIR, district_name:Leh(Ladakh)
3                    AND KASHMIR, district_name:Kargil
4                     AND KASHMIR, district_name:Punch
..                                                 ...
635                                 district_name:Mahe
636                             district_name:Karaikal
637        AND NICOBAR ISLANDS, district_name:Nicobars
638  AND NICOBAR ISLANDS, district_name:North  AND ...
639   AND NICOBAR ISLANDS, district_name:South Andaman

[640 rows x 53 columns]